<a href="https://colab.research.google.com/github/LuisNavarro22/Mineria_de_datos/blob/main/EjerciciosPhyton1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ejercicios Phyton

Ejercicio 1

Realiza una variable con tu matricula y realiza una secuencia de imprimir con tu nombre y tu matricula concatenados.

In [7]:
nomb= input("Introduce tu nombre: ")
mat=int (input("Introduce tu matricula: "))
print(nomb, mat)

Introduce tu nombre: Luis Navarro
Introduce tu matricula: 1866581
Luis Navarro 1866581

Ejercicio 2
Pidiendo el input del usuario pide dos números y crea una pequeña calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [12]:
n1= float (input("Ingrese primer numero: "))
n2=float (input("Ingrese segundo numero: "))

print("El resultado de la suma es ", n1+n2)
print("El resultado de la resta es ",n1-n2)
print("El resultado de la multiplicacion es ",n1*n2)
print("El resultado de la division es ",n1/n2)
print("El resultado del exponente es ",n1**n2)

Ingrese primer numero: 10
Ingrese segundo numero: 2
El resultado de la suma es  12.0
El resultado de la resta es  8.0
El resultado de la multiplicacion es  20.0
El resultado de la division es  5.0
El resultado del exponente es  100.0

Ejercicio 3
Con loop while o for, realiza una lista de 10 numeros multiplos de 3, y después realiza una función de loop que sume todos los números dentro del arreglo.

In [26]:
i=1
j=1
sum=0
mult= []
while i<=10:
  k=j*5
  sum=sum+k
  mult.append(k)
  j=j+1
  print(mult[i-1])
  i=i+1
  
print("La suma de la lista es de ", sum)

5
10
15
20
25
30
35
40
45
50
La suma de la lista es de  275

Ejercicio 4

Con una función de if else, revisar si un número es par o es impar.

Con una función de if else, revisar si un número es primo o no.

In [41]:
num1= int (input("Ingresar un numero: "))
if num1 % 2 == 0:
    print("El numero", num1, "es par ")
else:
    print("El numero", num1, "es impar")

i=0
for x in range(2,num1-1):
     if num1%x == 0:
      i=1
     break
if i==1:
    print("El numero", num1, "no es primo")
else :
    print("El numero", num1, "es primo")

Ingresar un numero: 5
El numero 5 es impar
El numero 5 es primo

Ejercicio 5
Utilizando diferentes clases en python, crea una calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [53]:
def suma(x,y):
    return(x+y)
def rest(x,y):
    return(x-y)
def mult(x,y):
    return(x*y)
def div(x,y):
    return(x/y)
def expo(x,y):
    return(x**y)
n1 = float (input("Ingrese el primer numero: "))
n2 = float (input("Ingrese el segundo numero: "))


print("La suma es de ",suma(n1,n2))
print("La resta es de ",rest(n1,n2))
print("La multiplicacion es de ",mult(n1,n2))
print("La division es de ",div(n1,n2))
print("El exponente es de ",expo(n1,n2))

Ingrese el primer numero: 5
Ingrese el segundo numero: 3
La suma es de  8.0
La resta es de  2.0
La multiplicacion es de  15.0
La division es de  1.6666666666666667
El exponente es de  125.0

Crear una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es.

In [55]:
x= int(6)
y= float(2.5)
i= bool(1)
j= complex(124.87e+24)
print("X es tipo", type(x))
print("Y es tipo", type(y))
print("I es tipo", type(i))
print("J es tipo", type(j))

X es tipo <class 'int'>
Y es tipo <class 'float'>
I es tipo <class 'bool'>
J es tipo <class 'complex'>

Crear una tupla con valores enteros imprimir el primer y ultimo valor.

In [59]:
A1=(2,4,6,8,10)
print("El primer valor es: ", A1[0])
print("El ultimo valor es: ", A1[4])

El primer valor es:  2
El ultimo valor es:  10

Verificar si una variable existe dentro de la tupla.

In [71]:
n1=20
if n1 in A1:
      print(n1," si existe en la tupla")
else:
     print(n1," no existe en la tupla")

20  no existe en la tupla

Crear una lista con 40 elementos aleatorios enteros.

In [80]:
import random 
A2= []
while len(A2)<40:
  A2.append(random.randint(0,50))
print(A2)

[50, 13, 32, 48, 18, 7, 49, 7, 3, 8, 48, 47, 37, 33, 27, 15, 25, 13, 12, 16, 32, 1, 5, 4, 10, 7, 15, 41, 27, 42, 19, 32, 43, 1, 46, 29, 29, 12, 15, 34]

Con una funcion (def) crear dos listas nuevas a partir de la lista creada por numeros aleatorios, en la cual en una esten los elementos pares, y en la otra los elementos impares.

In [85]:
def par(A2):
  par= [i for i in A2 if i % 2 == 0]
  return par
def impar(A2):
    impar=[i for i in A2 if i%2  !=0]
    return impar
Apar=par(A2)
Aimpar=impar(A2)
print("Numeros pares de la lista: ",Apar)
print("Numeros impares de la lista: ",Aimpar)

Numeros pares de la lista:  [50, 32, 48, 18, 8, 48, 12, 16, 32, 4, 10, 42, 32, 46, 12, 34]
Numeros impares de la lista:  [13, 7, 49, 7, 3, 47, 37, 33, 27, 15, 25, 13, 1, 5, 7, 15, 41, 27, 19, 43, 1, 29, 29, 15]

Crear dos variables con la longitud de ambas listas nuevas e imprimir las variables.

In [86]:
lonP= len(Apar)
lonI= len(Aimpar)
print("La longitud de los pares es de ", lonP)
print("La longitud de los impares es de ", lonI)

La longitud de los pares es de  16
La longitud de los impares es de  24

Ordenar los elementos de la lista par de mayor a menor, y los de la lista impar de menor a mayor.

In [89]:
Apar.sort(reverse=True)
Aimpar.sort()
print("Mayor a menor de los pares /n",Apar )
print("Menor a mayor de los impares /n", Aimpar)

Mayor a menor de los pares /n [50, 48, 48, 46, 42, 34, 32, 32, 32, 18, 16, 12, 12, 10, 8, 4]
Menor a mayor de los impares /n [1, 1, 3, 5, 7, 7, 7, 13, 13, 15, 15, 15, 19, 25, 27, 27, 29, 29, 33, 37, 41, 43, 47, 49]

Utilizar al menos cuatro de las funciones de listas en python en la lista original de 40 elementos.

In [98]:
long=len(A2)
print("La cantidad de elementos ",long)
print("El maximo de la lista es ", max(A2))
print("El minimo de la lista es ", min(A2))
A2[19]=100
print("La lista con un elemento cambiado",A2)

La cantidad de elementos  40
El maximo de la lista es  100
El minimo de la lista es  1
La lista con un elemento cambiado [50, 13, 32, 48, 18, 7, 49, 7, 3, 8, 48, 47, 37, 33, 27, 15, 25, 13, 12, 100, 32, 1, 5, 4, 10, 7, 15, 41, 27, 42, 19, 32, 43, 1, 46, 29, 29, 12, 15, 34]

Crear un diccionario de 6 personas que conozcas con su primer nombre y su edad.

In [104]:
diccionario = {"Carlos":20,"Marco":19,"Paulina":30,"Angeles":25,"Brandon":18,"Lussely":28 }
print(diccionario)

{'Carlos': 20, 'Marco': 19, 'Paulina': 30, 'Angeles': 25, 'Brandon': 18, 'Lussely': 28}

Crear una lista con los valores de la edad y reacomodar la lista de menor a mayor valor.

Crea un set con 100 numeros aleatorios enteros entre el 1 al 25

In [ ]:
import random
B1= set ()

while len(B1)<=99:
  B1.add(random.randint(1,25))
  
print(B1)

Comprueba la longitud de tu set.

In [111]:
longB1=len(B1)
print("Tamaño del set es ",longB1)

Tamaño del set es  25